*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e2e0e0;
}
header.cabeceraPrincipal, nav.menuPrincipal, section.galeriaPrincipal,aside.sponsor,main,footer.piePagina{
    background-color: rgb(148, 250, 46);
    color: rgb(47, 83, 10);
    width: 90%;
    margin: 0 auto;
}
header.cabeceraPrincipal{
    background-color: #ffffff;
}
header.cabeceraPrincipal h1{
    font-size: 25px;
    color: #000;
}
.cabeceraPrincipal .logo{
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 20%;
    display: inline-block;
    padding: 1em 1em;
    text-align: center;
}

.logo .iniciales-logo{
    padding: 5px;
    border: 2px solid #000;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}

.iniciales-logo img{
    height: 70px;
    width: 70px;
}

section.seccionCabecera{
    width: 70%;
    display: inline-block;
    text-align: right;
}
/*  -------------- Barra de busqueda  ------------------*/
.seccionCabecera .barra-busqueda{
    display: flex;
    align-items: center;
    justify-content: right;
}

.seccionCabecera .barra-busqueda input{
    min-width: 40%;
    padding:  0 14px;
    height: 33px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.seccionCabecera .barra-busqueda button{
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background-color: #f8f8f8;
    padding: 0 20px;
    cursor: pointer;
}
.seccionCabecera .barra-busqueda button:hover{
    background-color: #f1f1f1;
}
/*  -------------- FIN Barra de busqueda  ------------------*/


nav.menuPrincipal, main,aside.sponsor,footer.piePagina{
    margin-top: 2px;
}
nav.menuPrincipal{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}
nav.menuPrincipal a{
    background-color: #ffffff;
    padding: 10px;
    color: #000;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 16px;
    transition:  0.2s ease all;
}
nav.menuPrincipal a:hover{
    background-color: #000;
    color: #ffffff;
}

main{
    text-align: center;
    background-color: #ffffff;
}

section.articulo{
    width: 48%;
    display: inline-block;
}

section.noticias{
    display: flex;
    background: #ffffff;
    text-align: justify;
}

.noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
}

.noticias .contenedor1{
    width: 95%;
}

.noticias .contenedor-texto{
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noticias .titulo{
    margin-bottom: 10px;
    font-size: 25px;
}

.noticias .fecha{
    font-size: 15px;
    color: #868686;
    margin-bottom: 10px;
}
.noticias .extracto{
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #868686;
}

.btn-link{
    background: #2a2929;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.btn-link:hover{
    background-color: #000;
}

section.galeriaPrinicpal{
    margin-top: 2px;
}

.galeriaPrincipal ul li img{
    width: 98%;
    padding: 15px;
    height: 500px;
}

aside.sponsor{
    text-align: center;
    background: #ffffff;
}

section.sponsorItem{
    padding: 2em 1em;
    width: 20%;
    display: inline-block;
    background-color: #0b361f;
    text-align: justify;
}

section.sponsorItem{
    background: #ffffff;
    padding: 20px;
}

.sponsorItem div img{
    width: 200px;
    height: 220px;
    object-fit: cover;
    padding: 0em 2.5em;     
}

.sponsorA .titulo{
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

.sponsorA .titulo a{
    text-decoration: none;
    padding-top: 10px;
    color: rgb(47, 83, 10);
}

.sponsorA .extracto{
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #868686;
}

footer.piePagina{
    text-align: right;
    background: #c2bebc;
}

footer.piePagina h5{
    padding: 1em 2em;
}